.poster {
  height: 100px;
}

.wrap {
  flex-wrap: wrap;
}

.movie-cell {
  width: 200px;
  height: 100px;
  padding: 16px;

  &:hover {
    outline: 2px solid red;
    cursor: pointer;
  }
}

.description {
  flex-grow: 1;
  align-items: center;
  justify-content: space-evenly;
}
